{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-sharedresources/block_content

    Block template for sharedresources tool

    The purpose of this template is render a navigation block in course contexts. This template renders all the visible sections in a course.

    Classes required for JS:
    * none

    Context variables required for this template:
    * sections Array of course sections containing arrays of modules
    * modules Array of course modules
}}

<a href="{{{converttourl}}}">{{{converttostr}}}</a><br/><br/>

<a href="{{{convertbackurl}}}">{{{convertbacktr}}}</a><br/><br/>

<a href="{{{importurl}}}">{{{importstr}}}</a><br/><br/>

<a href="{{{libraryurl}}}">{{{librarystr}}}</a><br/><br/>
